@charset "UTF-8";

// set up variables
@font-face {
  font-family: "Authenia";
  src: url("./fonts/Authenia.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

$text-main: "Montserrat", sans-serif;
$text-secondary: "Barlow Condensed", sans-serif;
$text-accent: "Authenia", sans-serif;
$text-accent-2: "Barlow Semi Condensed", sans-serif;

$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

$fs-base: 16px;
$fs-header: 48px;
$fs-header-desktop: 60px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #ffffff;
$color-bg: #479fcd;
$color-accent: #ec008b;
$color-accent-2: #000000;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

$transition: all 0.2s ease-in-out;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;

  ::selection {
    background-color: $color-accent-2;
    color: #fff;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  .es-section-title {
    font-family: $text-secondary;
    font-size: $fs-header;
    font-weight: $fw-bold;
    text-align: center;
    margin-block: $px-M;
    text-transform: uppercase;
  }

  .es-cross {
    padding: $px-M;
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      gap: $px-M;
      margin-block: $px-M;
      @media (min-width: $media-breakpoint-md) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      max-width: 230px;
      gap: $px-XL;
      transition: $transition;
      &:hover {
        .es-cross__item__CTA {
          background-color: $color-accent;
        }
        .es-cross__item__image img {
          scale: 1.05;
        }
      }
      @media (min-width: $media-breakpoint-md) {
        display: grid;
        grid-template-rows: auto 150px auto;
        align-items: start;
      }
      &__image {
        width: 100%;
        img {
          max-height: 250px;
          width: auto;
          transition: $transition;
          &:hover {
            scale: 1.05;
          }
        }
      }
      &__textCtn {
        display: flex;
        flex-direction: column;
        gap: $px-M;
      }
      &__title {
        font-size: calc(1.1 * $fs-base);
        font-weight: $fw-black;
        text-transform: uppercase;
        text-align: center;
        min-height: 3em;
      }
      &__description {
        font-weight: $fw-semibold;
        text-align: center;
        font-size: calc(0.9 * $fs-base);
      }
      &__CTA {
        font-size: calc(1.2 * $fs-base);
        font-weight: $fw-black;
        text-align: center;
        background-color: $color-accent-2;
        cursor: pointer;
        padding: 12px 24px;
        text-transform: uppercase;
        transition: $transition;
        &:hover {
          background-color: $color-accent;
        }
      }
    }
  }
}
