@font-face {
  font-family: "Authenia";
  src: url("./fonts/Authenia.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  background-color: #479fcd;
  max-width: 990px;
  margin: auto;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #000000;
  color: #fff;
}
#es-rc #es-rc-content ::selection {
  background-color: #000000;
  color: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content a {
  text-decoration: none;
  color: inherit;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-block: 16px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross {
  padding: 16px;
  padding-bottom: 96px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross {
    padding: 24px;
  }
}
#es-rc #es-rc-content .es-cross__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-block: 16px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross__content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}
#es-rc #es-rc-content .es-cross__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 230px;
  gap: 32px;
  transition: all 0.2s ease-in-out;
}
#es-rc #es-rc-content .es-cross__item:hover .es-cross__item__CTA {
  background-color: #ec008b;
}
#es-rc #es-rc-content .es-cross__item:hover .es-cross__item__image img {
  scale: 1.05;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross__item {
    display: grid;
    grid-template-rows: auto 185px auto;
    align-items: start;
    max-width: 210px;
  }
}
#es-rc #es-rc-content .es-cross__item__image {
  width: 100%;
}
#es-rc #es-rc-content .es-cross__item__image img {
  max-height: 250px;
  width: auto;
  transition: all 0.2s ease-in-out;
}
#es-rc #es-rc-content .es-cross__item__image img:hover {
  scale: 1.05;
}
#es-rc #es-rc-content .es-cross__item__textCtn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#es-rc #es-rc-content .es-cross__item__title {
  font-size: 17.6px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  min-height: 3em;
}
#es-rc #es-rc-content .es-cross__item__description {
  font-weight: 600;
  text-align: center;
  font-size: 14.4px;
}
#es-rc #es-rc-content .es-cross__item__CTA {
  font-size: 19.2px;
  font-weight: 900;
  text-align: center;
  background-color: #000000;
  cursor: pointer;
  padding: 12px 24px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
#es-rc #es-rc-content .es-cross__item__CTA:hover {
  background-color: #ec008b;
}
#es-rc #es-rc-content .es-footer {
  background-color: #000000;
}
#es-rc #es-rc-content .es-footer__logo {
  max-width: 250px;
}/*# sourceMappingURL=styles.css.map */