@font-face {
  font-family: "Authenia";
  src: url("../fonts/Authenia.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  background-color: #479fcd;
  max-width: 990px;
  margin: auto;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #000000;
  color: #fff;
}
#es-rc #es-rc-content ::selection {
  background-color: #000000;
  color: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content a {
  text-decoration: none;
  color: inherit;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-block: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-section-title {
    font-size: 60px;
  }
}
#es-rc #es-rc-content .es-kv {
  background: linear-gradient(5deg, rgb(74, 165, 209) 0%, rgb(64, 145, 198) 25%, rgb(52, 123, 185) 50%, rgb(43, 103, 175) 75%, rgb(33, 78, 160) 100%);
  padding: 16px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}
#es-rc #es-rc-content .es-kv .es-section-title {
  margin-block: 0;
  line-height: 1;
}
#es-rc #es-rc-content .es-kv__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 24px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__right {
    width: 45%;
  }
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__image {
    width: 40%;
  }
}
#es-rc #es-rc-content .es-kv__title {
  max-width: 400px;
  margin: auto;
}
#es-rc #es-rc-content .es-kv__eye {
  display: none;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__eye {
    display: block;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    max-width: 25%;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-kv__eye {
    max-width: 245px;
  }
}
#es-rc #es-rc-content .es-features {
  background: linear-gradient(5deg, rgb(74, 165, 209) 0%, rgb(64, 145, 198) 25%, rgb(52, 123, 185) 50%, rgb(43, 103, 175) 75%, rgb(33, 78, 160) 100%);
  padding: 16px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features {
    padding: 0 16px;
  }
}
#es-rc #es-rc-content .es-features .es-section-title {
  margin-block: 0;
  line-height: 1;
}
#es-rc #es-rc-content .es-features__title {
  max-width: 400px;
  margin: auto;
}
#es-rc #es-rc-content .es-features__title--subtitle {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-block: 8px;
}
#es-rc #es-rc-content .es-features__products {
  max-width: 400px;
  margin: auto;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__products {
    max-width: 300px;
  }
}
#es-rc #es-rc-content .es-features__flexCtn {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__flexCtn--1 {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 260px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__flexCtn--2 {
    position: absolute;
    top: 72%;
    left: 74%;
    transform: translate(-50%, -50%);
    width: -moz-max-content;
    width: max-content;
  }
}
#es-rc #es-rc-content .es-features__item {
  display: flex;
  font-family: "Authenia", sans-serif;
  font-size: 48px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__item {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__item--check {
    width: 30px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__desktopCtn {
    display: flex;
    flex-direction: row-reverse;
  }
}
#es-rc #es-rc-content .es-features__left {
  position: relative;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__left {
    width: 60%;
  }
}
#es-rc #es-rc-content .es-features__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__right {
    padding: 16px;
    width: 40%;
  }
}
#es-rc #es-rc-content .es-features__bg {
  display: none;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
#es-rc #es-rc-content .es-features__bg--img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#es-rc #es-rc-content .es-steps {
  background: linear-gradient(5deg, rgb(74, 165, 209) 0%, rgb(64, 145, 198) 25%, rgb(52, 123, 185) 50%, rgb(43, 103, 175) 75%, rgb(33, 78, 160) 100%);
  padding: 16px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps {
    padding-inline: 24px;
  }
}
#es-rc #es-rc-content .es-steps__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#es-rc #es-rc-content .es-steps__title--liftCtn, #es-rc #es-rc-content .es-steps__title--brow-glue {
  display: flex;
  align-items: center;
  justify-content: center;
}
#es-rc #es-rc-content .es-steps__title--lift {
  min-width: -moz-max-content;
  min-width: max-content;
  word-break: break-all;
}
#es-rc #es-rc-content .es-steps__title--snatch {
  margin: unset;
  max-width: 120px;
  max-height: 70px;
  aspect-ratio: 259/103;
}
#es-rc #es-rc-content .es-steps__title--plus {
  font-family: "Authenia", sans-serif;
  font-size: 60px;
  margin-right: 8px;
}
#es-rc #es-rc-content .es-steps__content--imageCtn {
  overflow: hidden;
}
#es-rc #es-rc-content .es-steps__content--image {
  transition: all 0.2s ease-in-out;
}
#es-rc #es-rc-content .es-steps__content--image:hover {
  scale: 1.05;
}
#es-rc #es-rc-content .es-steps__content--text {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: #ec008b;
  padding-block: 6px;
  width: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__content {
    flex: 1 1 0;
  }
}
#es-rc #es-rc-content .es-steps__flexCtn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__flexCtn {
    flex-direction: row;
    justify-content: center;
  }
}
#es-rc #es-rc-content .es-steps__left, #es-rc #es-rc-content .es-steps__right {
  position: relative;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__left, #es-rc #es-rc-content .es-steps__right {
    margin-block: 24px;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-steps__left, #es-rc #es-rc-content .es-steps__right {
    flex: 1 1 0;
  }
}
#es-rc #es-rc-content .es-steps__left--product, #es-rc #es-rc-content .es-steps__right--product {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__left--product, #es-rc #es-rc-content .es-steps__right--product {
    left: 50%;
    top: unset;
    transform: translate(-50%, 0%);
    bottom: 3%;
  }
}
#es-rc #es-rc-content .es-steps__left--product-image, #es-rc #es-rc-content .es-steps__right--product-image {
  max-height: 450px;
  width: auto;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__left--product-image, #es-rc #es-rc-content .es-steps__right--product-image {
    max-height: 400px;
  }
}
#es-rc #es-rc-content .es-steps__left--description, #es-rc #es-rc-content .es-steps__right--description {
  padding: 8px;
  font-size: 14.4px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__left--description, #es-rc #es-rc-content .es-steps__right--description {
    width: 50%;
    padding-right: 16px;
  }
}
#es-rc #es-rc-content .es-steps__left--description-title, #es-rc #es-rc-content .es-steps__right--description-title {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
}
#es-rc #es-rc-content .es-steps__left--after {
  display: none;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__left--after {
    display: block;
    position: absolute;
    top: 3%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-steps__left--description {
    margin-left: 50%;
    padding-left: 24px;
    padding-right: 16px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-steps__left--description {
    padding-inline: 24px 32px;
  }
}
#es-rc #es-rc-content .es-steps__right--product {
  left: 88%;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__right--product {
    left: 50%;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-steps__right--product {
    left: 0%;
  }
}
#es-rc #es-rc-content .es-steps__right--description {
  padding-right: 40px;
  text-wrap: balance;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-steps__right--description {
    padding-inline: 40px 0;
  }
}
#es-rc #es-rc-content .es-steps__right--after {
  display: none;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-steps__right--after {
    display: block;
    position: absolute;
    top: -36%;
    right: -24px;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-steps__container {
    display: flex;
    gap: 16px;
  }
}
#es-rc #es-rc-content .es-before-after {
  background: linear-gradient(180deg, rgb(6, 153, 227) 0%, rgb(46, 185, 244) 100%);
}
#es-rc #es-rc-content .es-before-after__middle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#es-rc #es-rc-content .es-before-after__middle--textCtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 8px;
}
#es-rc #es-rc-content .es-before-after__middle--text {
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 32px;
  text-align: center;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-before-after {
    display: flex;
    align-items: center;
    position: relative;
  }
  #es-rc #es-rc-content .es-before-after__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    overflow: hidden;
  }
  #es-rc #es-rc-content .es-before-after__middle--image {
    height: 100%;
    transition: all 0.2s ease-in-out;
  }
  #es-rc #es-rc-content .es-before-after__middle--image:hover {
    scale: 1.05;
  }
}
#es-rc #es-rc-content .es-cross {
  padding: 16px;
  padding-bottom: 96px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross {
    padding: 24px;
  }
}
#es-rc #es-rc-content .es-cross__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-block: 16px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross__content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}
#es-rc #es-rc-content .es-cross__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 230px;
  gap: 32px;
  transition: all 0.2s ease-in-out;
}
#es-rc #es-rc-content .es-cross__item:hover .es-cross__item__CTA {
  background-color: #ec008b;
}
#es-rc #es-rc-content .es-cross__item:hover .es-cross__item__image img {
  scale: 1.05;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross__item {
    display: grid;
    grid-template-rows: auto 185px auto;
    align-items: start;
    max-width: 210px;
  }
}
#es-rc #es-rc-content .es-cross__item__image {
  width: 100%;
}
#es-rc #es-rc-content .es-cross__item__image img {
  max-height: 250px;
  width: auto;
  transition: all 0.2s ease-in-out;
}
#es-rc #es-rc-content .es-cross__item__image img:hover {
  scale: 1.05;
}
#es-rc #es-rc-content .es-cross__item__textCtn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#es-rc #es-rc-content .es-cross__item__title {
  font-size: 17.6px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  min-height: 3em;
}
#es-rc #es-rc-content .es-cross__item__description {
  font-weight: 600;
  text-align: center;
  font-size: 14.4px;
}
#es-rc #es-rc-content .es-cross__item__CTA {
  font-size: 19.2px;
  font-weight: 900;
  text-align: center;
  background-color: #000000;
  cursor: pointer;
  padding: 12px 24px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
#es-rc #es-rc-content .es-cross__item__CTA:hover {
  background-color: #ec008b;
}
#es-rc #es-rc-content .es-footer {
  background-color: #000000;
}
#es-rc #es-rc-content .es-footer__logo {
  max-width: 250px;
}/*# sourceMappingURL=styles.css.map */